.UserSection {
	display: flex;
    justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
}

/*Botones*/
.third{
    margin: 0px 10px 0px 10px;
}

.counter{
    margin: 0px;
    padding: 0px;
}

.terminarBtn{
    margin: 10px 0px 10px 0px;
}